:root {
    /* Fonts */
    --font-general: 'Poppins', sans-serif;
    /* Colors */
    --color-white: #fff;
    --color-gray-200: rgb(39, 39, 39);
    --color-black: rgb(0,0,0);
    --color-blue: rgb(0, 102, 255);
    --box-shadow-regular: 0 8px 24px rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--font-general);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    margin: 0;
    background-color: rgb(245, 245, 245);
    box-shadow: .2rem .4rem .8rem rgba(102, 102, 102, 0.267);
    border-radius: 0px 0px 48px 48px;
}

header h1 {
    margin: 0;
}

header h1 a {
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--color-black-0)
}

header h1 span {
    font-size: 1.5rem;
    color:var(--color-blue);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: row;
}


nav ul li {
    list-style: none;
}

nav ul li a {
    color: var(--color-gray-200);
    font-size: 1.3rem;
    text-decoration: none;
    padding: .5rem .8rem;
    transition: background-color ease-in .2s;
    transition: color ease-in .2s;
    border-radius: 8px;
}

nav ul li a:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 8px;
}

/* Section 0: Greeting */

.greeting-info {
    text-align: center;
    margin: 5rem;
}

.greeting-info h2 {
    font-size: 2.5rem;
}

#highlight {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: .4rem 1rem;
    text-decoration: none;
    border-radius: 16px;
    transition: background-color ease-in .4s;
}

#highlight:hover {
    background-color: var(--color-gray-200);
}

.greeting-info p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.greeting-info img {
    width: 70%;
    height: auto;
    border-radius: 16px;
    box-shadow: var(--box-shadow-regular);
}

/* Section 1: Explore */

.info {
    text-align: center;
    margin-bottom: 3rem;
}

.info h2 {
    margin: 0;
    font-size: 3rem;
}

.info p {
    margin: 0;
    font-size: 1.5rem;
}

#explore {
    margin-bottom: 4rem;
}

#explore li {
    display: flex;
    background-color: white;
    box-shadow: .2rem .2rem .4rem rgba(0,0,0, 0.2);
    border-radius: .6rem;
    overflow: hidden; /*overflow */
    width: 700px;
}

#explore ul {
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 700px 700px;
    gap: 1rem;
}

#explore ul li:nth-of-type(3) {
    width: 100%;
    grid-column: 1 / 2 span;
}

#explore li img {
    width: 300px;
    height: auto;
    margin-right: 1rem;
    object-fit: cover;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem;
}

#explore .item-content h2 {
    color: rgb(62, 62, 62);
    margin-bottom: -.5rem;
}

#explore .actions {
    margin-bottom: 1rem;
    text-align: right;
}

#explore .actions a {
    color: var(--color-white);
    background-color: var(--color-blue);
    padding: .3rem .5rem;
    border-radius: .4rem;
    text-decoration: none;
}

#explore .actions a:hover {
    background-color: var(--color-gray-200);
}

/* Section 2: Tickets */

#tickets {
    padding: 4rem;
}

.ticket-cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.ticket-card {
    background-color: rgb(247, 247, 247);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: var(--box-shadow-regular);
    width: 280px;
    transition: transform ease-out .4s;
}

.ticket-card:hover {
    transform: scale(1.05);
}

.ticket-card h3 {
    margin-bottom: 1rem;
    color: var(--color-blue);
    font-size: 1.4rem;
}

.ticket-card p {
    line-height: 1.5;
    color: var(--color-gray-200);
}

.ticket-card .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-gray-200);
    margin: 1rem 0;
}

.ticket-card .buy-btn {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-blue);
    margin: 0 auto;
    width: fit-content;
    border: 0.02rem solid gray;
    padding: .5rem 6.5rem;
}

.ticket-card .buy-btn:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
}

#attention {
    margin-top: 6rem;
    margin-bottom: .6rem;
}

.info .buy-btn {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-blue);
    margin: 1.5rem auto;
    width: fit-content;
    border: 0.02rem solid gray;
    padding: .5rem 6.5rem;
}

.info .buy-btn:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
}

/* Section 2: Contacts */

#contacts h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

#contacts #description {
    text-align: center;
    margin: 0 0 3rem 0;
    font-size: 1.5rem;
}

#contacts {
    padding: 3rem;
    background-color: rgb(245, 245, 245);
    box-shadow: .4rem .0rem .8rem rgba(102, 102, 102, 0.651);
    border-radius: 48px 48px 0px 0px;
    margin-top: 4rem;
    text-align: center;
}

.contact-details p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.contact-details a {
    color: var(--color-black);
}

/* Media Queries (@)
    Responsive Design (Day 21) */

    /* Smartphone: 480px
    Tablet: 768px
    Notebook: 1024px
    PC: 1200px
    TV: >1200px */

@media (max-width: 48rem) {
    /* Font size of main h1 element, should be set 1.5rem */
    /* nav-elements - it shouldn't be visible!!! (display: none) */
    /* max-width: 768px = 48rem */

    main h1 {
        font-size: 1.5rem;
    }

    .greeting-info img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem 2rem;
        text-align: center;
    }

    nav ul {
        gap: 1rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    #explore ul {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 1rem;
        justify-content: left;
    }

    #explore ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    #explore ul li:nth-of-type(3) {
        grid-column: auto;
        width: 80%;
        margin: 0 auto;
    }

    #explore ul li img {
        width: 100%;
        height: auto;
    }

    #explore ul li .item-content {
        flex: display;
        justify-content: left;
        text-align: left;
    }

    .ticket-card .buy-btn {
        padding: 1rem 3rem;
    }
}

@media (max-width: 64rem) {

    #explore ul li img {
        width: 110%;
        height: auto;
        overflow: hidden;
    }

    #explore ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }

    #explore ul {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 1rem;
        justify-content: left;
    }

    #explore ul li:nth-of-type(3) {
        grid-column: auto;
        width: 70%;
        margin: 0 auto;
    }

}

@media (max-width: 93.75rem) {
        #explore ul li img {
        width: 110%;
        height: auto;
        overflow: hidden;
    }

    #explore ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }

    #explore ul {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 1rem;
        justify-content: left;
    }

    #explore ul li:nth-of-type(3) {
        grid-column: auto;
        width: 60%;
        margin: 0 auto;
    }
}